/* .titleDark {
   color: var(--main-color);
}

.paragraphDark {
   color: var(--white-color);
}

.dkMode  {
   background-color: #252525;
} */


/* add */
.containerLight .container {
   background: var(--white-color);
}

.containerDarkMode .container {
   background: #252525;
}



.containerDarkMode {
   color: var(--main-color);

}

.containerDarkMode .container .imc__paragraph {
   color: var(--body-color);
}
